body {
	padding-top:10px;
	margin-left: 20px;
	background-color: lightblue;
}

input:required { 
    border: 1px solid red;
}


input:focus {
	background-color: yellow;
}

#main {
		margin-left: 10%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  left: 0px;
  top: 0px;
  float: left;
  width: 7%;
  position: fixed;
}

.flex-container div {
	position:relative;
	background-color: #f1f1f1;
	width: 80%;
	margin: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	transition: width 0.5s;
	transition: font-size 0.2s;
}

.flex-container div:hover {
	width: 90%;
	font-size: 25px;
}

.menu_content {
	width:60%;
	display:none;
	position: absolute;
}

.flex-container div:hover .menu_content {
	display:block;
}

#menu_logo {
	background-color:black;
	
}

#help {
	position:fixed;
	top: 15%;
	right: 40%;
	background-color: white;
		border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	display: none;
	
}