body {
	background-image: url("../images/bgm.jpg");
}

article {
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.75);
}

#tank	{
	padding: 10px;
	text-align: left;
	border-style: solid;
	border-width: 3px;	
}

#tank td,#tank th   {
	border-style:solid;
	border-width: 1px;
}

#tank tr:nth-child(even) {
	background-color: lightblue;
}


#heal	{
	width: 540px;
	border-collapse: collapse;
	background-color: white;
}

#heal th{
	background-color: green;
	color: white;
}

#heal tr, #heal td{
	border: solid 1px black;
}


#multi {
	
}

#multi td, #multi th {
	border-bottom: 1px solid gray;
	
}


#main {
		margin-left: 10%;
}


.flex-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  left: 0px;
  top: 0px;
  float: left;
  width: 7%;
  position: fixed;
}

.flex-container div {
	position:relative;
	background-color: #f1f1f1;
	width: 80%;
	margin: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	transition: width 0.5s;
	transition: font-size 0.2s;
}

.flex-container div:hover {
	width: 90%;
	font-size: 25px;
}

.menu_content {
	width:60%;
	display:none;
	position: absolute;
}

.flex-container div:hover .menu_content {
	display:block;
}

#menu_logo {
	background-color:black;
	
}