body {
	background-attachment: fixed;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  left: 0px;
  top: 0px;
  float: left;
  width: 7%;
  position: fixed;
}

.flex-container div {
	position:relative;
	background-color: #f1f1f1;
	width: 80%;
	margin: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	transition: width 0.5s;
	transition: font-size 0.2s;
}

.flex-container div:hover {
	width: 90%;
	font-size: 25px;
}

.menu_content {
	width:60%;
	display:none;
	position: absolute;
}

.flex-container div:hover .menu_content {
	display:block;
}

#menu_logo {
	background-color:black;
	
}

h3	{
	text-shadow: 1px 1px gray;
}

footer {
	font-size: 15px;
}

details {
	position:fixed;
	bottom: 0;
	right: 0;
	background-color: white;
}

section {
	margin-left: 20px;
	margin-bottom: 20px;
}

#logi {
	right: 0;
	position: absolute;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	background-color: #A9A9A9;
	background: -webkit-linear-gradient(lightblue, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, green);
	margin-right: 60px;
}

#main {
	margin-right: 50px;
	margin-left: 7%;
	margin-top: 40px;
}

article {
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.75);
}

#endArt a, #endArt h2{
	padding-top:20px;
	margin-left:10px;
	margin-top: 10px;
}

footer {
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom:10px;
}

#endArt a:hover {
	font-size: 1.25em;
}

a {
	color: black;
}

@media screen and (max-width: 540px) {
	#mainarticle {
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 7px;
	}

	#logi {
		position: static;
		border-style: solid;
		margin-left: 10px;
	}
	
	#endArt {
		margin-right: 10px;
		margin-left: 10px;
	}
}