body {
	background-attachment: fixed;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  left: 0px;
  top: 0px;
  float: left;
  width: 6%;
  position: fixed;
}

.flex-container div {
	background-color: #f1f1f1;
	width: 80%;
	margin: 6px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

#menu_logo {
	background-color:black;
	
}

footer {
	font-size: 15px;
}

details {
	position:fixed;
	bottom: 0;
	right: 0;
	background-color: white;
}

section {
	margin-left: 20px;
	margin-bottom: 20px;
}

#logi {
	right: 0;
	position: absolute;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	background-color: #A9A9A9;
	margin-right: 60px;
}

#mainarticle {
	margin-right: 50px;
	margin-left: 7%;
	margin-top: 40px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.75);
	
}

article {
	margin-right: 50px;
	margin-left: 7%;
	margin-top: 40px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.75);
}


#endArt a, #endArt h2{
	padding-top:20px;
	margin-left:10px;
	margin-top: 10px;
}

#endArt nav{
	padding-left: 10px;
}

footer {
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom:20px;
}

#endArt a:hover {
	font-size: 1.25em;
}

a:visited {
	color: black;
}

a:active {
	color: white;
}

#p1	{
	font-style: italic;
	font-family: "Times New Roman";
	font-size: 0.5em;
}

#p2 {
	font-family: "Arial";
	font-weight: bold;
	font-size: 150%;
	line-height: 150%;
}

#p3{
	font-variant: small-caps;
	font-size: 15px;
	line-height: 50%;
}

@media screen and (max-width: 540px) {
	#mainarticle {
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 7px;
	}

	#logi {
		position: static;
		border-style: solid;
		margin-left: 10px;
	}
	
	#endArt {
		margin-right: 10px;
		margin-left: 10px;
	}
}